:root {
  --main-green: #47a805;
}

/* ---------------------- GENERAL STYLING */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  color: rgba(255, 255, 255, 0.7);
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  accent-color: white;
  background-color: black;
}
.dummy-warning {
  margin: 1em;
  color: rgba(250, 173, 173, 0.603);
}
h1 {
  text-align: center;
  margin: 3em 1em 1.5em;
}
h2 {
  margin: 1em;
}
nav {
  margin-inline: auto;
  width: 6em;
}
nav a {
  margin-top: 1em;
}
div,
p {
  font-weight: 300;
  font-size: 15px;
}
a {
  transition: color 0.3s;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
a:hover,
h1:hover,
.btn:hover {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.poster {
  font-size: 12px;
  text-align: center;
  background-size: cover;
}
.big-poster {
  background-color: rgba(41, 41, 51, 0.699);
  background-image: url(../img/posters/big-poster.png);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: inline-block;
}
.music-slider-container {
  display: inline-block;
}
footer {
  height: 6vh;
  background: linear-gradient(
    90deg,
    rgba(255, 48, 229, 1) 0%,
    rgba(113, 78, 184, 1) 48%,
    rgba(64, 190, 255, 1) 100%
  );
}
footer p {
  font-size: 10px;
}
/*////////////////////////////////////////////////////////////////
/* -------------------------------------------- Home */

.big-poster {
  width: 12rem;
  height: 12rem;
  margin: 1rem;
}
.big-poster-label {
  vertical-align: middle;
  width: 15rem;
  margin: 5em 0 1em 2em;
}
.big-poster-label h2 {
  font-size: 35px;
  margin: 0.5rem 0rem;
}
.big-tittle-and-poster {
  display: flex;
  width: 100%;
  height: 14rem;
}
.top-row {
  grid-area: top-row;
  width: 100%;
  height: 4em;
}
.main-div-body p {
  display: inline-block;
  vertical-align: center;
  padding-left: 3em;
}
.big-tittle-and-poster {
  display: flex;
  width: 100%;
}
.folders-home-1 {
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.2fr 2fr;
  grid-template-columns: 1fr;
  grid-template-areas: "div playlist-name";
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 5px;
}
.folders-home-1:hover,
.folders-home-2:hover {
  background-color: rgba(255, 255, 255, 0.274);
}
.user-p {
  display: inline;
  width: 10rem;
}
.folders-home-1,
.folders-home-2 {
  cursor: pointer;
  transition: background-color 0.3s;
}
.col-1,
.index-1,
.index-2,
.index-3,
.index-4,
.index-5 {
  width: 1em;
  margin-top: 0;
}
.col-2,
.col-3,
.col-4,
.name-1,
.name-2,
.name-3,
.name-4,
.name-5,
.album-1,
.album-2,
.album-3,
.album-4,
.album-5,
.date-added {
  height: 1em;
  width: 10em;
}
.col-5,
.song-duration-5 {
  height: 1em;
  width: 7em;
}

/*////////////////////////////////////////////////////////////////
/* -------------------------------------------- Library */
.folders-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 1rem;
}
.folder {
  background-color: rgba(201, 35, 35, 0.432);
  border-radius: 5px;
  color: white;
}
.folder:hover {
  transition: background-color 0.5s;
  background-color: rgb(201, 35, 35);
  cursor: not-allowed;
}
.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  width: 100%;
  border-radius: 5px;
}
.row-1:hover,
.row-2:hover,
.row-3:hover,
.row-4:hover,
.row-5:hover {
  background-color: rgba(255, 255, 255, 0.158);
  transition: background-color 0.5s;
  color: var(--main-green);
  cursor: not-allowed;
}
/*////////////////////////////////////////////////////////////////
/* -------------------------------------------- BUTTONS STYLING */
.btn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.712);
  border-color: rgba(240, 248, 255, 0);
  text-align: center;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.sign-out-btn,
.sign-up-for-free-btn {
  display: inline;
  width: 5rem;
  height: 1.7rem;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.712);
  border-color: rgba(240, 248, 255, 0);
}
.sign-up-for-free-btn {
  width: 8rem;
}
.playing-options-btns {
  padding: 0;
  width: 13rem;
  vertical-align: middle;
}
.playing-options-btns button,
.sound-btn {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0rem 0.2rem;
  opacity: 0.7;
}
.go-forward-btn,
.go-back-btn {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}
.shuffle-btn,
.shuffle,
.repeat-btn,
.repeat {
  width: 28px;
  height: 28px;
}
.sound-btn,
.mute {
  border-radius: 0;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.play-pause-btn {
  width: 35px;
  height: 35px;
  background-color: rgb(248, 241, 241) !important;
  opacity: 1;
  background: url(../img/icons/Play.png);
}
.go-forward-btn {
  background: url(../img/icons/Next.png);
}
.go-back-btn {
  background: url(../img/icons/Previous.png);
}
.shuffle-btn {
  background: url(../img/icons/Shuffle.png);
}
.repeat-btn {
  background: url(../img/icons/Repeat.png);
}
.pause {
  background: url(../img/icons/Pause.png);
  opacity: 1;
}
.shuffle {
  background: url(../img/icons/Shuffle-green.png);
  opacity: 1;
}
.repeat {
  background: url(../img/icons/Repeat-green.png);
  opacity: 1;
}
.sound-btn {
  background: url(../img/icons/VolumeOn.png);
}
.mute {
  background: url(../img/icons/Mute.png);
}
.btn:hover {
  opacity: 1;
}
/*////////////////////////////////////////////////////////////////
/* -------------------------------------------- SLIDERS ---- */
.music-further-options input,
.sound-container input {
  vertical-align: middle;
  -webkit-appearance: none;
  outline: none;
  border-radius: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.301);
  z-index: 1;
}
.slider {
  width: 25rem;
  height: 5px;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
}
input[type="range"]:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}
.progress-bar-music-slider {
  top: -9px;
  left: 1px;
  width: 0;
  position: relative;
  border-radius: 5px;
  height: 5px;
  background-color: #ffffff;
}

.sound-slider-container {
  display: inline-block;
}
.progress-bar-sound-slider {
  top: -9px;
  left: 1px;
  position: relative;
  border-radius: 5px;
  height: 5px;
  width: 100%;
  background-color: #ffffff;
}
/*////////////////////////////////////////////////////////////////
/* -------------------------------------------- GRID AREAS ---- */
header {
  grid-area: header;
  height: 80vh;
  width: 18vw;
  background-color: black;
}
main {
  grid-area: main;
  background-color: rgb(17, 17, 17);
  height: 80vh;
  width: 82vw;
}
.player {
  grid-area: player;
  background-color: rgb(17, 17, 17);
  height: 15vh;
  width: 100vw;
}
footer {
  grid-area: footer;
  height: 5vh;
  width: 100vw;
}
.row-1 {
  grid-area: row-1;
}
.row-2 {
  grid-area: row-2;
}
.row-3 {
  grid-area: row-3;
}
.row-4 {
  grid-area: row-4;
}
.row-5 {
  grid-area: row-5;
}
.top-div {
  grid-area: top-div;
}
.playing-options-btns {
  grid-area: playing-options-btns;
}
.music-further-options {
  grid-area: music-further-options;
}
.sound-container {
  grid-area: sound-container;
}
.bit-tittle-and-poster {
  grid-area: bit-tittle-and-poster;
}
.poster {
  grid-area: poster;
}
.playing-options-buttons {
  grid-area: playing-options-buttons;
}
.main-div-body {
  grid-area: main-div-body;
}
.music-info {
  grid-area: music-info;
}
.playing-options {
  grid-area: playing-options;
}
.slide-container {
  grid-area: slide-container;
}
.preview {
  grid-area: preview;
}
.sign-up-for-free-btn {
  grid-area: sign-up-for-free-btn;
}
.music-details {
  grid-area: music-details;
}
.music-slider-container {
  display: inline-block;
}
/* -------------------------------------------- MOBILE VERSION */

@media screen and (max-width: 600px) {
  body {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "player"
      "player"
      "player";
    grid-gap: 0;
  }
  header,
  main,
  .main-div,
  .main-div-body,
  .sound-container,
  footer {
    display: none;
  }
  .player {
    height: 100vh;
    width: 100vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 26%,
      rgba(0, 228, 255, 1) 100%
    );
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr;
    grid-template-areas:
      "music-info"
      "playing-options";
  }
  .poster {
    width: 500px;
    height: 500px;
  }
  .music-info {
    margin-top: 10%;
    margin-inline: auto;
  }
  .music-details {
    margin-top: 5%;
  }
  .playing-options {
    width: 80vw;
    margin-inline: auto;
    margin-top: 5%;
  }
  .playing-options-btns {
    margin-inline: auto;
  }
  .music-further-options p {
    display: inline-block;
    vertical-align: middle;
  }
  .music-slider-container {
    vertical-align: middle;
    width: 60vw;
  }
  .music-slider {
    width: 100%;
  }
}
/* -------------------------------------------- TABLET VERSION */
/* -------------------------------------------- TABLET VERSION */

@media screen and (min-width: 601px) and (max-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "player"
      "player"
      "player";
    grid-gap: 0;
  }
  header,
  main,
  .main-div,
  .main-div-body,
  .sound-container,
  footer {
    display: none;
  }
  .player {
    height: 100vh;
    width: 100vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 26%,
      rgba(0, 228, 255, 1) 100%
    );
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr;
    grid-template-areas:
      "music-info"
      "playing-options";
  }
  .poster {
    width: 600px;
    height: 600px;
  }
  .music-info {
    margin-top: 10%;
    margin-inline: auto;
  }
  .music-details {
    margin-top: 5%;
  }
  .playing-options {
    width: 80vw;
    margin-inline: auto;
    margin-top: 5%;
  }
  .playing-options-btns {
    margin-inline: auto;
  }
  .music-further-options p {
    display: inline-block;
    vertical-align: middle;
  }
  .music-slider-container {
    vertical-align: middle;
    width: 60vw;
  }
  .music-slider {
    width: 100%;
  }
}
/* -------------------------------------------- LAPTOPS VERSION */
/* -------------------------------------------- LAPTOPS VERSION */

@media screen and (min-width: 769px) and (max-width: 992px) {
  body {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.4fr 1.4fr 1.4fr 0.8fr 0.1fr;
    grid-template-areas:
      "header main main main main"
      "header main main main main"
      "header main main main main"
      "player player player player player"
      "footer footer footer footer footer";
  }
  header {
    width: 18vw;
    height: 80vh;
  }
  main,
  .main-div {
    width: 82vw;
    height: 80vh;
  }
  .main-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "big-tittle-and-poster"
      "main-div-body";
  }
  .poster {
    width: 5rem;
    height: 5rem;
    margin: 1rem 1rem;
  }
  .player {
    width: 100vw;
    height: 15vh;
    display: grid;
    border-top: 1px solid rgba(49, 49, 49, 0.432);
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 1fr;
    grid-template-areas: "music-info playing-options";
  }
  .music-info {
    height: 15vh;
    width: 18vw;

    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "poster music-details";
  }
  .playing-options {
    height: 15vh;
    width: 82vw;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "playing-options-btns sound-container"
      "music-further-options sound-container";
  }
  .music-details {
    color: white;
    text-align: center;
  }
  .music-further-options p {
    display: inline-block;
  }
  .playing-options-btns,
  .music-further-options {
    margin-inline: auto;
  }
  .playing-options-btns {
    width: 16em;
    margin-top: 1em;
  }
  .sound-slider-container {
    margin-top: 3em;
    width: 9em;
  }
  .music-name {
    font-weight: 600;
  }
  .sound-container {
    padding: 0;
  }
  .sound-slider {
    width: 9em;
  }
  footer {
    height: 5vh;
    width: 100vw;
    font-weight: lighter;
  }

  /* ----------------------HOME */

  .main-div-body {
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 0.05fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "top-row top-row top-row top-row top-row"
      "row-1 row-1 row-1 row-1 row-1"
      "row-2 row-2 row-2 row-2 row-2"
      "row-3 row-3 row-3 row-3 row-3"
      "row-4 row-4 row-4 row-4 row-4"
      "row-5 row-5 row-5 row-5 row-5";
  }
}

/* -------------------------------------------- DESKTOP VERSION */
/* -------------------------------------------- DESKTOP VERSION */

@media screen and (min-width: 993px) and (max-width: 1199px) {
  body {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.4fr 1.4fr 1.4fr 0.8fr 0.1fr;
    grid-template-areas:
      "header main main main main"
      "header main main main main"
      "header main main main main"
      "player player player player player"
      "footer footer footer footer footer";
  }
  header {
    width: 18vw;
    height: 80vh;
  }
  main,
  .main-div {
    width: 82vw;
    height: 80vh;
  }
  .main-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "big-tittle-and-poster"
      "main-div-body";
  }
  .poster {
    width: 5rem;
    height: 5rem;
    margin: 1rem 1rem;
  }
  .player {
    width: 100vw;
    height: 15vh;
    display: grid;
    border-top: 1px solid rgba(49, 49, 49, 0.432);
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 1fr;
    grid-template-areas: "music-info playing-options";
  }
  .music-info {
    height: 15vh;
    width: 18vw;

    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "poster music-details";
  }
  .playing-options {
    height: 15vh;
    width: 82vw;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "playing-options-btns sound-container"
      "music-further-options sound-container";
  }
  .music-details {
    color: white;
    text-align: center;
  }
  .music-further-options p {
    display: inline-block;
  }
  .playing-options-btns,
  .music-further-options {
    margin-inline: auto;
  }
  .playing-options-btns {
    width: 16em;
    margin-top: 1em;
  }
  .sound-slider-container {
    margin-top: 3em;
    width: 9em;
  }
  .music-name {
    font-weight: 600;
  }
  .sound-container {
    padding: 0;
  }
  .sound-slider {
    width: 9em;
  }
  footer {
    height: 5vh;
    width: 100vw;
    font-weight: lighter;
  }

  /* ----------------------HOME */

  .main-div-body {
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 0.05fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "top-row top-row top-row top-row top-row"
      "row-1 row-1 row-1 row-1 row-1"
      "row-2 row-2 row-2 row-2 row-2"
      "row-3 row-3 row-3 row-3 row-3"
      "row-4 row-4 row-4 row-4 row-4"
      "row-5 row-5 row-5 row-5 row-5";
  }
}

/* --------------------------------------- Ultra Wide VERSION */
/* --------------------------------------- Ultra Wide VERSION */

@media screen and (min-width: 1200px) {
  body {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.4fr 1.4fr 1.4fr 0.8fr 0.1fr;
    grid-template-areas:
      "header main main main main"
      "header main main main main"
      "header main main main main"
      "player player player player player"
      "footer footer footer footer footer";
    font-size: medium;
  }
  header {
    width: 15vw;
    height: 80vh;
  }
  main,
  .main-div {
    width: 85vw;
    height: 80vh;
  }
  .main-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    grid-template-areas:
      "big-tittle-and-poster"
      "main-div-body    ";
  }
  .poster {
    width: 100px;
    height: 100px;
    margin-inline: auto;
    margin: 1.5em 1.5em;
  }
  .big-poster-label {
    width: 20em;
  }
  .playing-options-btns {
    width: 13em;
    margin-inline: auto;
    margin-top: 1em;
  }

  .player {
    width: 100vw;
    height: 15vh;
    display: grid;
    border-top: 1px solid rgba(49, 49, 49, 0.432);
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 1fr;
    grid-template-areas: "music-info playing-options";
  }
  .music-info {
    height: 15vh;
    width: 18vw;

    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "poster music-details";
  }
  .playing-options {
    height: 15vh;
    width: 82vw;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "playing-options-btns sound-container"
      "music-further-options sound-container";
  }
  .music-details {
    color: white;
    font-size: 1000;
    text-align: center;
    margin: 1.5em 0;
  }
  .music-further-options p {
    display: inline-block;
  }
  .playing-options-btns,
  .music-further-options {
    margin-inline: auto;
  }

  .sound-slider-container {
    margin-top: 3em;
    width: 9em;
  }
  .music-name {
    font-weight: bolder;
  }
  .sound-container {
    padding: 0;
  }
  .sound-slider {
    width: 9em;
  }
  footer {
    height: 5vh;
    width: 100vw;
    font-weight: lighter;
  }
  /*-------------------------------------*/
  .big-tittle-and-poster {
    width: 95%;
    height: 90%;
    margin: 2em 2em 0 2em;
  }

  /* ----------------------HOME */

  .main-div-body {
    margin: 0em 2em 1em;
    display: grid;
    grid-template-columns: 0.05fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "top-row top-row top-row top-row top-row"
      "row-1 row-1 row-1 row-1 row-1"
      "row-2 row-2 row-2 row-2 row-2"
      "row-3 row-3 row-3 row-3 row-3"
      "row-4 row-4 row-4 row-4 row-4"
      "row-5 row-5 row-5 row-5 row-5";
  }
  .main-div-body p {
    display: inline-block;
    vertical-align: center;
    padding-left: 5em;
  }
  .row {
    width: 95%;
  }
}
