/* color: rgb(0,216,86); */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: white;
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  overflow-x: hidden;
  background-color: rgb(187, 148, 223);
}
p {
  font-weight: 300;
}
.top-div input {
  width: 10rem;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  border-color: rgba(240, 248, 255, 0);
  height: 1.5rem;
}
.top-div button {
  width: 5rem;
  border-radius: 50px;
}
.music-info {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "poster music-details";
  height: 15vh;
  width: 15vw;
}
.music-details {
  width: 10rem;
  height: 4rem;
  margin: 1.7rem 1rem 1.7rem 0rem;
  text-align: center;
  padding: 0.5rem 0.25rem;
}
.music-details p {
  margin-top: 0.3rem;
  font-size: 14px;
}
.btn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.712);
  border-color: rgba(240, 248, 255, 0);
  cursor: pointer;
  text-align: center;
  margin-right: 0.5rem;
  vertical-align: middle;
}
button:hover {
  background-color: rgb(255, 255, 255);
}

.playing-options {
  margin: 0% 10%;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1.5fr 0.5fr;
  grid-template-areas:
    "playing-options-btns sound-container"
    "music-further-options sound-container";
}
.playing-options-btns {
  grid-area: playing-options-btns;
  display: inline-block;
  margin: 2rem 22rem 0rem;
  width: 14rem;
  vertical-align: middle;
}
.music-further-options {
  grid-area: music-further-options;
  margin: 0rem 14rem 0.5rem;
}
.music-further-options input {
  margin: 0px;
}
.music-further-options input,
.sound-container input {
  vertical-align: middle;
  -webkit-appearance: none;
  outline: none;
  border-radius: 5px;
  height: 5px;
  background-color: black;
  background: rgb(255, 255, 255);
}
/* * ----------------------------MUSIC THUMB---------------------------- */
.slider {
  left: 0px;
  top: 8px;
  width: 25rem;
  height: 5px;
  border-radius: 5px;
  background-color: rgba(45, 250, 26, 0.548);
}

/* * ----------------------------SLIDER THUMB---------------------------- */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
}
input[type="range"]:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}
.music-further-options p {
  font-size: 10px;
}
.sound-container {
  grid-area: sound-container;
  margin: 2.5rem 6rem 2.5rem 14rem;
  width: 11rem;
  padding: 0.5rem 0 0.5rem;
}
footer p {
  font-size: 10px;
}
.powered-by-link {
  font-size: 10px;
}
.play-pause-btn img {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.932);
  position: relative;
  top: -4px;
  left: -9px;
}
.music-further-options input,
.music-further-options p {
  display: inline-block;
}
.poster {
  width: 5rem;
  height: 5rem;
  margin: 1.7rem 1rem;
  font-size: 12px;
  text-align: center;
  background-size: cover;
}
.main-div {
  width: 102rem;
  height: 41rem;
  margin: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(248, 93, 255, 1) 100%
  );
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1.2fr;
  grid-template-areas:
    "big-tittle-and-poster"
    "main-div-body";
}
.big-tittle-and-poster {
  grid-area: big-tittle-and-poster;
  width: 30rem;
  height: 14rem;
}
.main-div-body {
  grid-area: main-div-body;
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 51%,
    rgba(0, 0, 0, 0) 100%
  ); */
  margin: 1rem 2rem;
  display: grid;
  grid-template-columns: 0.05fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "col-0 col-1 col-2 col-3 col-4"
    "col-0 col-1 col-2 col-3 col-4"
    "col-0 col-1 col-2 col-3 col-4"
    "col-0 col-1 col-2 col-3 col-4"
    "col-0 col-1 col-2 col-3 col-4"
    "col-0 col-1 col-2 col-3 col-4";
}

.main-div-body div {
  display: inline-block;
}
.big-poster {
  width: 12rem;
  height: 12rem;
  margin: 1rem;
  background-color: rgba(41, 41, 51, 0.699);
  display: inline-block;
  background-image: url(../img/posters/big-poster.png);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.big-poster-label {
  display: inline-block;
  vertical-align: middle;
  width: 15rem;
  margin-bottom: 7rem;
}
.big-poster-label h2 {
  font-size: 35px;
  margin: 0.5rem 0rem;
}
.big-poster-label p {
  font-size: 12px;
}
.top-row {
  border-bottom: 1px solid rgba(199, 199, 199, 0.137);
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.main-div-body p {
  font-size: 14px;
  margin: 1.5rem 0rem 1.5rem 0rem;
}
@media screen and (min-width: 481px) {
  body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header top-div top-div top-div top-div"
      "header main main main main"
      "header main main main main"
      "header main main main main"
      "player player player player player"
      "footer footer footer footer footer";
  }
  header {
    grid-area: header;
    background-color: black;
    width: 15vw;
  }
  .top-div {
    grid-area: top-div;
    background-color: rgb(8, 8, 8);
    width: 85vw;
    height: 10vh;
  }
  .input-bar {
    display: inline-block;
    margin: 2rem 10rem 2rem 4rem;
  }
  .top-div-btns {
    display: inline-block;
    margin: 2rem 5rem 2rem 60rem;
    width: 11.5rem;
  }
  main {
    grid-area: main;
    background-color: rgb(17, 17, 17);
    height: 70vh;
  }
  .player {
    grid-area: player;
    background-color: rgb(17, 17, 17);
    height: 15vh;
    border-top: 1px solid rgba(49, 49, 49, 0.432);
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "music-info playing-options"
      "music-info slide-container";
  }
  .music-details,
  .poster {
    display: inline-block;
  }
  footer {
    grid-area: footer;
    background: linear-gradient(
      90deg,
      rgba(255, 48, 229, 1) 0%,
      rgba(113, 78, 184, 1) 48%,
      rgba(64, 190, 255, 1) 100%
    );
  }
  h1 {
    margin: 2rem 1rem;
    text-align: center;
  }
  nav {
    margin: 0.5rem 2rem;
  }
  nav a {
    display: inline-block;
    padding: 0.5rem;
  }
  footer {
    display: grid;
    grid-template-areas: "preview sign-up-for-free-btn";
    font-weight: lighter;
  }
  .playing-options {
    height: 15vh;
  }
  .preview {
    grid-area: preview;
    font-size: 0.9rem;
    margin-bottom: 0rem;
    width: 80vw;
    height: 5vh;
    margin: 0rem;
    padding: 0rem;
  }
  .preview p {
    margin: 0rem;
    padding: 0rem;
    display: inline;
  }
  .preview a {
    display: inline-block;
  }
  .sign-up-for-free-btn {
    grid-area: sign-up-for-free-btn;
    width: 10rem;
    height: 2rem;
    margin: 0.8rem 3rem;
    border-radius: 10rem;
    border: solid rgba(255, 255, 255, 0);
    font-weight: bold;
  }
  .preview-para-1 {
    font-variant: small-caps;
    padding: 0rem 0rem 0rem 0.5rem;
  }
  .preview-para-2 {
    padding: 0.5rem 0rem 0rem 0.5rem;
  }
  h2 {
    margin: 1rem;
  }
}
