<div class="big-tittle-and-poster">
  <div class="big-poster"></div>
  <div class="big-poster-label">
    <p>Public playlist</p>
    <h2>Playlist#1</h2>
    <p>user15Jg1252ert &#8226; 5 songs, 10 min 49 sec</p>
    <p class="dummy-warning">(These are dummy buttons)</p>
  </div>
</div>
<div class="main-div-body">
  <div class="top-row">
    <p class="col-1">#</p>
    <p class="col-2">TITLE</p>
    <p class="col-3">ARTIST</p>
    <p class="col-4">DATE ADDED</p>
    <p class="col-5">🕒</p>
  </div>
  <div class="row-1">
    <p class="index-1">1</p>
    <p class="name-1">Forest Lullaby</p>
    <p class="album-1">Lesfm</p>
    <p class="date-added-1 date-added">27 days ago</p>
    <p class="song-duration-1">02:18</p>
  </div>
  <div class="row-2">
    <p class="index-2">2</p>
    <p class="name-2">Life Like</p>
    <p class="album-2">AlexAction</p>
    <p class="date-added-2 date-added">14 days ago</p>
    <p class="song-duration-2">02:24</p>
  </div>
  <div class="row-3">
    <p class="index-3">3</p>
    <p class="name-3">Lo-Fi Chillhop</p>
    <p class="album-3">Music Unlimited</p>
    <p class="date-added-3 date-added">10 days ago</p>
    <p class="song-duration-3">02:16</p>
    <p class=""></p>
  </div>
  <div class="row-4">
    <p class="index-4">4</p>
    <p class="name-4">Lo-Fi Study</p>
    <p class="album-4">Fassounds</p>
    <p class="date-added-4 date-added">7 days ago</p>
    <p class="song-duration-4">02:27</p>
  </div>
  <div class="row-5">
    <p class="index-5">5</p>
    <p class="name-5">Playing in color</p>
    <p class="album-5">Nullhertz</p>
    <p class="date-added-5 date-added">3 days ago</p>
    <p class="song-duration-5">01:22</p>
  </div>
</div>
