<div class="home-div">
  <div class="big-tittle-and-poster">
    <div class="big-poster"></div>
    <div class="big-poster-label">
      <p>Public playlist</p>
      <h2>Playlist#1</h2>
      <p>user15Jg1252ert &#8226; 5 songs, 10 min 49 sec</p>
      <p class="dummy-warning">(These are dummy buttons)</p>
    </div>
  </div>
  <div class="home-div-body">
    <div class="top-row row">
      <p class="col-1 row-i">#</p>
      <p class="col-2 row-i">TITLE</p>
      <p class="col-3 row-i">ARTIST</p>
      <p class="col-4 row-i">DATE ADDED</p>
      <p class="col-5 row-i">🕒</p>
    </div>
    <div class="row-1 row">
      <p class="index-1 row-i">1</p>
      <p class="name-1 row-i">Forest Lullaby</p>
      <p class="album-1 row-i">Lesfm</p>
      <p class="date-added-1 date-added row-i">27 days ago</p>
      <p class="song-duration-1 row-i">02:18</p>
    </div>
    <div class="row-2 row">
      <p class="index-2 row-i">2</p>
      <p class="name-2 row-i">Life Like</p>
      <p class="album-2 row-i">AlexAction</p>
      <p class="date-added-2 date-added row-i">14 days ago</p>
      <p class="song-duration-2 row-i">02:24</p>
    </div>
    <div class="row-3 row">
      <p class="index-3 row-i">3</p>
      <p class="name-3 row-i">Lo-Fi Chillhop</p>
      <p class="album-3 row-i">Music Unlimited</p>
      <p class="date-added-3 date-added row-i">10 days ago</p>
      <p class="song-duration-3 row-i">02:16</p>
    </div>
    <div class="row-4 row">
      <p class="index-4 row-i">4</p>
      <p class="name-4 row-i">Lo-Fi Study</p>
      <p class="album-4 row-i">Fassounds</p>
      <p class="date-added-4 date-added row-i">7 days ago</p>
      <p class="song-duration-4 row-i">02:27</p>
    </div>
    <div class="row-5 row">
      <p class="index-5 row-i">5</p>
      <p class="name-5 row-i">Playing in color</p>
      <p class="album-5 row-i">Nullhertz</p>
      <p class="date-added-5 date-added row-i">3 days ago</p>
      <p class="song-duration-5 row-i">01:22</p>
    </div>
  </div>
</div>
