<div class="big-tittle-and-poster">
  <div class="big-poster"></div>
  <div class="big-poster-label">
    <p>Public playlist</p>
    <h2>Playlist#1</h2>
    <p>user15Jg1252ert &#8226; 5 songs, 10 min 49 sec</p>
  </div>
</div>
<div class="main-div-body">
  <div class="col-0">
    <p class="top-row">#</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div class="col-1">
    <p class="top-row">TITLE</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div class="col-2">
    <p class="top-row">ALBUM</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <div class="col-3">
      <p class="top-row">DATE ADDED</p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <div class="col-4">
      <p class="top-row">Clock Icon</p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>
