<h2>Hi, there!</h2>
<p class="dummy-warning">(These are dummy buttons)</p>
<div class="home-div">
  <div class="home-div-folder-1">
    <div class="folders-home-1">
      <div class="div"></div>
      <div class="playlist-name">Aenean varius</div>
    </div>
    <div class="folders-home-1">
      <div class="div"></div>
      <div class="playlist-name">Suspendisse vel</div>
    </div>
    <div class="folders-home-1">
      <div class="div"></div>
      <div class="playlist-name">Quisque at tempus</div>
    </div>
    <div class="folders-home-1">
      <div class="div"></div>
      <div class="playlist-name">Nam vehicula</div>
    </div>
    <div class="folders-home-1">
      <div class="div"></div>
      <div class="playlist-name">Duis nunc neque</div>
    </div>
    <div class="folders-home-1">
      <div class="div"></div>
      <div class="playlist-name">Aliquam erat</div>
    </div>
  </div>
  <h2>Your shows</h2>
  <div class="home-div-folder-2">
    <div class="folders-home-2">
      <div></div>
      <h3>Podcast 1</h3>
    </div>
    <div class="folders-home-2">
      <div></div>
      <h3>Podcast 2</h3>
    </div>
    <div class="folders-home-2">
      <div></div>
      <h3>Podcast 3</h3>
    </div>
    <div class="folders-home-2">
      <div></div>
      <h3>Podcast 4</h3>
    </div>
  </div>
</div>
