<div class="library-div">
  <div class="library-heading">
    <h2>Hi, there!</h2>
    <p class="dummy-warning">(These are dummy buttons)</p>
  </div>
  <div class="home-div">
    <div class="home-div-folder-1">
      <div class="folders-home-1">
        <span class="folders-home-1-color"></span>
        <span class="playlist-name">Aenean varius</span>
      </div>
      <div class="folders-home-1">
        <span class="folders-home-1-color"></span>
        <span class="playlist-name">Suspendisse vel</span>
      </div>
      <div class="folders-home-1">
        <span class="folders-home-1-color"></span>
        <span class="playlist-name">Quisque at tempus</span>
      </div>
      <div class="folders-home-1">
        <span class="folders-home-1-color"></span>
        <span class="playlist-name">Nam vehicula</span>
      </div>
      <div class="folders-home-1">
        <span class="folders-home-1-color"></span>
        <span class="playlist-name">Duis nunc neque</span>
      </div>
      <div class="folders-home-1">
        <span class="folders-home-1-color"></span>
        <span class="playlist-name">Aliquam erat</span>
      </div>
    </div>
    <h2>Your shows</h2>
    <div class="home-div-folder-2">
      <div class="folders-home-2">
        <div></div>
        <p>Podcast 1</p>
      </div>
      <div class="folders-home-2">
        <div></div>
        <p>Podcast 2</p>
      </div>
      <div class="folders-home-2">
        <div></div>
        <p>Podcast 3</p>
      </div>
      <div class="folders-home-2">
        <div></div>
        <p>Podcast 4</p>
      </div>
    </div>
  </div>
</div>
