<div class="search-div">
  <div class="search-heading">
    <h2>Browse all</h2>
    <p class="dummy-warning">(These are dummy buttons)</p>
  </div>
  <div class="folders-div">
    <div class="folder">Podcasts</div>
    <div class="folder">Made For You</div>
    <div class="folder">New Releases</div>
    <div class="folder">Pop</div>
    <div class="folder">Latin</div>
    <div class="folder">Hip-Hop</div>
    <div class="folder">Live Events</div>
    <div class="folder">Rock</div>
    <div class="folder">Dance/ Eletronic</div>
    <div class="folder">Discover</div>
    <div class="folder">Indie</div>
    <div class="folder">Workout</div>
    <div class="folder">Chill</div>
    <div class="folder">R&B</div>
    <div class="folder">K-pop</div>
    <div class="folder">Sleep</div>
    <div class="folder">Party</div>
    <div class="folder">At Home</div>
    <div class="folder">Decades</div>
    <div class="folder">Romance</div>
    <div class="folder">Metal</div>
    <div class="folder">Anime</div>
    <div class="folder">Trending</div>
    <div class="folder">Classical</div>
    <div class="folder">Acoustic</div>
    <div class="folder">Focus</div>
    <div class="folder">Soul</div>
    <div class="folder">Gaming</div>
    <div class="folder">Punk</div>
    <div class="folder">Ambient</div>
    <div class="folder">Blues</div>
    <div class="folder">Karaoke</div>
  </div>
</div>
